name: Build & Deploy kvCore

on:
  push:
    branches: [ '**' ]
  pull_request: 
    branches: [ '**' ]

jobs:
    test:
        runs-on: windows-latest

        steps:
            - name: Checkout calling repository
              uses: actions/checkout@v4
              with:
                repository: ${{ github.repository }}
                ref: ${{ github.ref }}
                token: ${{ github.token }}
                submodules: recursive
                fetch-depth: 0
            - name: Static Code Analysis
              run: dotnet format .\Common.csproj --verify-no-changes

            - name: Run tests
              run: dotnet test -c Release Common.Tests
